.navigation{
  @extend %cover;
  color: $color-white;
  z-index: z('navigation');
  position:fixed;
  pointer-events: none;
}


.navigation__link{
  position:absolute;
  line-height: 1.2;
  left: 4rem;
  height:2rem;
  font-size: 0;
  top: 4rem;
  pointer-events: auto;
  width: 12.8rem;
  transition: opacity 0.4s ease;
  &:hover{
    opacity: .5;
  }
  @include media('<phone'){
    top: 5rem;
    left: 5rem;
    width: 27.8rem;
  }
}

.navigation__link__icon{
  display: block;
}

.navigation__list{

}

.navigation__list__item{
  position:absolute;
  pointer-events: auto;
  right: 4rem;
  top: 4rem;
}

.navigation__list_link{
  @extend %title-20;
  @extend %link--hidden;
  line-height: 1;
  display:block;
}
