.about{
  @extend %page;
  background: $color-cadetblue;
  color: $color-bright-gray;
  max-width:100vw;
}

.about__wrapper{

}

.about_title{
  @extend %title-100;
  text-align: center;
  max-width: 130rem;
  margin:auto;
  @include media('<phone'){
    max-width:67.7rem;
  }
}




