.about__hightlight{
  height: 58.6rem;
  margin: 20rem 0;
  position: relative;

  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.about__highlight__wrapper{

}

.about__hightlight_label{

}

.about__highlight__title{

}

.about__hightlight__media{

}

.about__hightlight__media__image{

}
