.about__hightlight{
  margin: 20rem 0;

  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.about__highlight__wrapper{
  height: 104rem;
  margin: auto;
  width: 144rem;
  position: relative;
  .about__hightlight:nth-child(4) &{
    width: 104rem;
  }
  @include media('<phone'){
    height: 316.2rem;
    width: 100%;
    .about__hightlight:nth-child(4) &{
      width: 100%;
      height: 119.3rem;
    }
  }

}

.about__hightlight_label{
 @extend %description-12;
 text-transform: uppercase;
 position: absolute;
 left: 50%;
 width: 11rem;
 text-align: center;
 letter-spacing:0.1rem;
 transform: translateX(-50%);
 @include media('<phone'){
  font-size:2.4rem;
  width: 23rem;
  top: 90rem;
  margin-top: 6.5rem;

 }
}

.about__highlight__title{
  @extend %title-200;
  padding-bottom: 3.75rem;
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;

  @include media('<phone'){
    font-size: 30rem;
    margin-top: 6.5rem;
  }
}

.about__hightlight__media{
  position: absolute;
  height: 76rem;
  width: 54rem;

  .about__hightlight:nth-child(4) &{
    height: 52.8rem;
    width: 36rem;
  }
  &:first-child{
    left: 0;
    top: 0;
  }
  &:last-child{
    right: 0;
    bottom: 0;
  }
  @include media('<phone'){
    &about__hightlight:nth-child(4) &{
      &:first-child{
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
      &:last-child{
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }


  }
}

.about__hightlight__media__image{
 @extend %cover;
 object-fit: cover;
}
