.preloader{
  @extend %cover;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $color-contessa;
  color: $color-white;
}
.preloader__text{
  @extend %title-53;
  font-weight: 400;
  max-width: 68rem;
  letter-spacing:0.05rem
}

.preloader__number{
  font-size: 2.5rem;
  position: absolute;
  bottom: 7.3rem;
}

