$color-white: #F9F1E7;
$color-contessa: #C97164;
$color-bright-gray: #37384c;
$color-quickstand: #BC978C;
$color-quarterspanish-white: #F9F1E7;
$color-cadetblue: #B2B8C3;
$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$z-indexes: (
  'preloader',
  'navigation',
  'content',
  'canvas'
);