*,
*:before,*:after{
  box-sizing: border-box;
  user-select: none;
}
html{
  font-size: calc((100vw / 1920 * 10));
  line-height:1;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  @include media('<phone'){
    font-size: calc(100vw / 750 * 10)
  }
}
canvas{
  position: relative;
  pointer-events: none;
  z-index: z('canvas');
}
body{
  @extend %description-16;
  font-family: $font-suisse-bp;
  font-weight: 300;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

}
.content{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
a{
  color: inherit;
  outline:none;
  text-decoration: none;
}

img{
  vertical-align: middle;
  // opacity: 0;
  transition: opacity 0.4s ease;
  &.loaded{
    // opacity: 0;
  }
}

button{
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

[data-animation="title"],[data-animation="paragraph"],[data-animation="label"]{
  span{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}