
.collections{
  @extend %page;

  // background:$color-quickstand;
  // color: $color-quarterspanish-white;
  overflow: hidden;
}

.collections_wrapper{
  @extend %cover;
}

.collections__titles{
  color: $color-quarterspanish-white;
  left: 50%;
  align-items: center;
  position: absolute;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%) rotate(-90deg);

  transition: transform 1s ease;

  @include media('<phone'){
    display:none;
  }

}

.collections__title__label{
  @extend %description-12;
  margin: 0 2rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: center;
  letter-spacing: 0.1;
}

.collections__titles__title{
 @extend %title-200;
 padding-top: -1rem;
}

.collections__gallery{
  @extend %cover;
  z-index: 10;

}

.collections__gallery__wrapper{
  display: flex;
  align-items: center;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-44.7rem *.5,-50%);
}

.collections__gallery__link{
  display: block;
  margin: 0 5.3rem;
  &:first-child{
    margin-left:0
  }
  &:first-last{
    margin-right:0
  }
}

.collections__gallery__media{
  width: 31.3rem;
  height: 44.17rem;
  position: relative;
}

.collections__gallery__media__image{
 @extend %cover;
 object-fit: cover;
 opacity: 0;
 pointer-events: none;
}

.collections__content{
  @extend %cover;
  @include media('<phone'){
    display:none;
  }
}

.collections__article{
  left: 8rem;
  bottom: 8rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
  &--active{
    opacity: 1;
    transition-delay: .4s;
  }
}

.collections__article__title{
  @extend %title-60;
}

.collections__article__description{
  @extend %description-16;
  max-width: 46rem;
}

.collections__mobile{
  display: none;
  position: absolute;
  bottom: 5rem;
  @include media('<phone'){
    display: flex;
  }
}
.collections__mobile__item{
  padding-left:5rem;
  width: 100vh;
}
.collections__mobile__item__label{
  font-size:2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.collections__mobile__item__title{
  font-family: $font-george-x;
  font-size: 12rem;
}

